@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* { margin:0; padding:0; box-sizing:border-box; font-family:"Poppins",sans-serif; }
body { background:#f4f7fb; }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;
    background-color:#0044cc ;
}
.brand{
    display: flex;
    align-items: flex-start;
}
.logo{
    height: 100px;
    width: auto;
    margin-right: 10px;
    
}
.company-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}

.nav-links {
  display:flex; justify-content:end; gap:50px;
  background:#0044cc; padding:15px; color:#fff;
}
nav a {
  color:#fff; text-decoration:none; font-weight:600;
}
nav a:hover { text-decoration:underline; }

/* Sections */
section { padding:50px; text-align:center; }

.hero {
  padding:60px; background:linear-gradient(135deg,#0044cc,#00c6ff); color:#fff;
}
.hero h1 { font-size:2.5rem; margin-bottom:20px; }

.btn {
  padding:12px 25px; border:none; border-radius:30px;
  font-weight:600; background:#fff; color:#0044cc; cursor:pointer;
  margin-top: 20px;
}

/* Product card */
.product {
  background:#fff; border-radius:15px; box-shadow:0 6px 15px rgba(0,0,0,0.1);
  padding:20px; transition:0.3s; max-width:250px; margin:auto;
}
.product:hover { transform:translateY(-5px); }
.product img { max-width:100%; border-radius:10px; margin-bottom:15px; }
.price { color:#ff3d00; font-weight:700; margin-bottom:10px; }

.form-section { background:#fff; padding:50px; }
form { max-width:400px; margin:auto; display:flex; flex-direction:column; gap:15px; }
input,textarea { padding:12px; border-radius:10px; border:1px solid #ccc; }
button { padding:12px; border:none; border-radius:10px; background:#0044cc; color:#fff; cursor:pointer; }

footer {
  text-align:center; background:#0044cc; color:#fff;
  padding:20px; margin-top:30px;
}
#dustbin{
    height: 300px;
    width: 250px;
}
.order{
    margin-top: 20px;
}
#proname{
    padding: 20px;
}